.RQ {
	background-color: transparent;
}

.quo {

	background-color: @color0;
	padding: 10px;
	border-radius: 5px;
}

.qt {
	color: @color1;	
	font-size: large;
	font-family: JetBrainsMono Nerd Font;
}
