.battery {
      	background-color: #19173C;
      	border-top-right-radius: 100px;
    	border-top-left-radius: 100px;
}

.battbtn {
   	background-color: @color0;
        color: @foreground ;
  	font-size: 19px;
        border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-family: "JetBrainsMono Nerd Font Mono";
}

.battery-info {
    	color: @foreground;
    	font-size: 4px;
}

.batC {
	font-size: 19px;	
	padding-left: 14px;
}
