* {
    font-family: JetBrainsMono Nerd Font Propo;
} 



.side {
	background-color: @color0;
	color: #e20e3e;  

}

.ssC {
    background-color: transparent;
            color: @foreground;
            
}

.bat {
	background-color: @color0;
	color: @foreground;
	padding-bottom: 10px;
}

.batC {
	background-color: @color0;
	color: @foreground;
	padding-left:2px;
	padding-bottom: 10px;
}
