.mpR {
     background-color: #282828;
            color: #e20e3e ;
    font-size: 20px;
    padding-bottom: 5px;
}

.music-player {
        background-color: #282828;
}

.mpbtn {
            background-color: #282828;
            color: #e20e3e ;
	font-size: 20px;
}
