.power {
	 background-color: @color0;
            color: @foreground ;
    padding-top: 0px;
}

.buttonoff {
	 background-color: @color0;
            color: @foreground ;
	font-size: 20px;
}

.buttonres {
	 background-color: @color0;
            color: @foreground ;
	font-size: 20px;
}

.shutbutton {
	 background-color: @color0;
            color: @foreground ;
	font-size: 20px;
}