.utilR {
     background-color: @color0;
            color: @foreground ;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.utils {
        background-color: @color0;
}

.utbtn {
            background-color: @color0;
            color: @foreground ;
	font-size: 20px;
}
