.volume-icon{
   background-color: @color0;
            color: @foreground ;
  	font-size: 25px;
	margin: .2rem 0 .2rem 0;
}

.volbar trough {
  background-color: @color0;
            color: pink ;
  min-height: 100px;
  min-width: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  }


