.wifi {
	background-color: @color0;
	color: @foreground;
	font-size: 20px;
}

.wifi-button {
	background-color: @color0;
    transition: all 0.3s ease-in-out;
    border-radius: 0px;
}

.wifi-button:hover {
    color: @color4;
}

.wifi-button.disconnected {
    color: @color1;
}

.wifi-button.off {
    color: @color1;
}
