.workspaces {
    color: @color0;
    background-color: @color0;
    border-radius: 12px;
    margin: 0px 0;
}

.workspace {
    font-size: 15px;
    padding: 8px 12px;
    margin: 0px 0;
    border-radius: 0px;
    color: black;
    background: transparent;
    transition: all 0.8s ease;
}

.workspace.empty {
    background-color: @color0;
    color: @color8;
}

.workspace.occupied {
    color: @color5;
}

.workspace.visible {
    background-color: #1b213b;
}

.workspace.focused {
    color: @color5;
    background-color: @color0;
    font-weight: bold;
    font-size: 15px;
}

.workspace:hover {
    background-color: #B83B5E;
}
